@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #eaeaea;
  padding: 45px 10px;
  user-select: none;

  .logo,
  ul,
  a {
    display: flex;
    align-items: center;
  }
  .logo {
    gap: 16px;
    cursor: pointer;
    h2 {
      font-size: 20px;
      font-weight: 700;
    }
    p {
      color: #9d9d9d;
      font-size: 14px;
      font-weight: 400;
    }
  }
  a {
    gap: 10px;
    color: #5c5c5c;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
  }
  ul {
    gap: 32px;
  }
  img {
    width: 40px;
  }
}

.home-section {
  img:first-child {
    margin: 45px 0 20px;
    cursor: pointer;
  }
  .container {
    flex-direction: column;
    img {
      width: 100%;
    }
  }
  .home-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px 0;
    label {
      display: flex;
      width: 250px;
      border-radius: 10px;
      border: 1px solid #f3f3f3;
      padding: 15px 18px;
      gap: 15px;
      input {
        font-family: inherit;
        outline: none;
        border: none;
      }
    }
  }
  h2 {
    color: #000;
    font-size: 32px;
    font-weight: 700;
  }
}
.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 210px));
  grid-auto-rows: 260px;
  gap: 80px;
  margin-bottom: 100px;
  .card {
    border-radius: 40px;
    border: 1px solid #f3f3f3;
    background: #fff;
    padding: 30px;
    cursor: pointer;
    transition: 0.3s ease;
    .img {
      width: 133px;
      height: 112px;
      border-radius: 10px;
    }
    .like-btn {
      position: absolute;
      z-index: 100;
      border: none;
      background: inherit;
      cursor: pointer;
    }
    .title {
      height: 32px;
      width: 150px;
      color: #000;
      font-size: 14px;
      font-weight: 400;
      margin: 14px 0px;
    }
    p {
      span {
        color: #bdbdbd;
        font-size: 11px;
        font-weight: 500;
        display: block;
      }
      .price-span {
        color: #000;
        font-size: 14px;
        font-weight: 700;
      }
    }
    div {
      display: flex;
      align-items: flex-start;
      gap: 30px;
    }
    .add-btn {
      cursor: pointer;
      border: none;
      width: 32px;
      height: 32px;
      border-radius: 20px;
      svg {
        position: relative;
      }
    }
  }
  .card:hover {
    box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.05);
    transform: translate(0px, -10px);
  }
}

.basket-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: #0000001e;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: end;
  overflow: hidden;
  transition: 5s;
  button {
    cursor: pointer;
    background: inherit;
    border: none;
  }
  .container-b {
    max-width: 385px;
    width: 100%;
    max-height: 100vh;
    height: 100%;
    background: #fff;
    box-shadow: -10px 4px 24px 0px rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 5s ease-in;
  }
  .basket-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .basket-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1px;
    height: 90%;
  }
  .basket {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex: 1;
    max-height: 65vh;
    .basket-card {
      display: flex;
      border-radius: 20px;
      border: 1px solid #f3f3f3;
      background: #fff;
      padding: 15px 20px;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;
      position: relative;
      svg {
        cursor: pointer;
        width: 30px;
        height: 30px;
        position: absolute;
        bottom: 20px;
        right: 20px;
      }
      h2 {
        color: #000;
        font-size: 14px;
        font-weight: 400;
      }
      p {
        color: #000;
        font-size: 14px;
        font-weight: 700;
      }
      img {
        width: 70px;
        height: 70px;
      }
    }
  }
  .basket-bottom {
    margin-top: 20px;
    .inform {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
      p {
        display: inline-block;
        flex: 1;
        height: 1px;
        position: relative;
        top: -4px;
        border-bottom: 1px dashed #dfdfdf;
        margin: 0 7px;
      }
    }
    button {
      border-radius: 18px;
      background: #9dd458;
      padding: 18px;
      border: none;
      width: 100%;
      font-family: inherit;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      margin-top: 5px;
      transition: all 0.3s ease;
      svg {
        margin-left: 15px;
      }
      &:hover {
        background: #93f31d;
        svg {
          margin-left: 19px;
        }
      }
      &:disabled {
        background: #bebebe;
        cursor: default;
      }
    }
  }
  .empty-basket,
  .show-buyed {
    text-align: center;
    margin-top: 150px;
    h2 {
      font-size: 22px;
      margin: 22px 0 9px;
      font-weight: 600;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
    button {
      border-radius: 18px;
      background: #9dd458;
      padding: 18px;
      border: none;
      width: 100%;
      font-family: inherit;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      margin-top: 40px;
      svg {
        margin-right: 15px;
        transform: rotate(-180deg);
      }
      &:hover {
        background: #76d402;
      }
    }
  }
}
.basket-container.visible {
  transition: 5s ease;
  .container-b {
    transform: translateX(0);
    opacity: 1;
  }
}
.purchases-container {
  .container {
    flex-direction: column;
    align-items: start;
  }
  .title {
    display: flex;
    gap: 20px;
    margin: 40px 0;
  }
  .show-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    width: 100%;
    text-align: center;
    h2 {
      font-size: 24px;
      font-weight: 600;
      margin: 29px 0 11px;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 70px;
    }
    button {
      border-radius: 18px;
      background: #9dd458;
      padding: 18px;
      border: none;
      width: 245px;
      font-family: inherit;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      svg {
        margin-right: 15px;
        transform: rotate(-180deg);
      }
       &:hover {
        background: #76d402;
      }
    }
  }
}

button {
  user-select: none;
  transition: .3s ease;
}
